<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <header class="header">
        <img src="../img/logo-platzi-video-BW2.png" alt="logo de platzi" class="header__img">
        <div class="header__menu">
            <div class="header__menu--profile">
                <img src="../img/perfil.png" alt="perfil">
                <p>Perfil</p>
            </div>
            <ul>
                <li><a href="/">Cuenta</a></li>
                <li><a href="/">Cerrar Sesión</a></li>
            </ul>
        </div>
    </header>
</body>
</html>